# Heroku environmental variables, including API keys.
# https://devcenter.heroku.com/articles/config-vars
.env

# npm packages
node_modules
npm-debug.log

# Mac
.DS_Store

# Emacs
*~

# Espresso
rosham.biz.esproj/
roshambiz.esproj/
roshambiz.esproj
/roshambiz.esproj
roshambiz.esproj/user.elliottspelman.espressostorage
*.esproj
*.espressostorage
