<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>The RoShamBusiness - Useless products with a heart of gold</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/roshambiz.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/roshambiz.js" type="text/javascript"></script>
    <script type="text/javascript" src="//use.typekit.net/atd4rzl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        
    <!-- Start Google Analytics ga.js code -->
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-42980641-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    <!--End Google Analytics ga.js code -->
    
  </head>

  <body>

    <nav class="navbar navbar-default navbar-inverse" role="navigation">
    	<div class="container">
    		<div class="navbar-header">
    			<a class="navbar-brand" href="#">
    				<img src="/img/logos/main_white.png" class="blog-nav-logo" alt="The RoShamBusiness" />
    			</a>
    		</div><!-- div navbar header -->
    		<div class="collapse navbar-collapse">
    			<ul class="nav navbar-nav navbar-right">
    				<li class="dropdown">
    					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
    					<ul class="dropdown-menu">
    						<li><a href="/bizzers">Bizzers</a></li>
    						<li><a href="/bamwich">Bamwich</a></li>
    						<li><a href="/grain">Grain(ofSalt)</a></li>
    					</ul>
    				</li>
    				<li><a href="#">Twitter</a></li>
    				<li><a href="#">About</a></li>
    			</ul>
    		</div><!-- div collapse navbar collapse -->
    	</div><!-- div container fluid -->
    </nav><!-- main navbar nav -->

    <div class="container">

      <div class="row">

        <div class="col-sm-14 left-content main-article">
        
          <div class="row index-top">

            <div class="col-sm-6">
            	<img src="/img/logos/main_vertical.png" class="img-responsive" alt="Main Logo" />
            </div>
          
            <div class="col-sm-10">
              <h1 class="index-title">We Make Things Literally.</h1>
              <br>
              <p class="lead index-description">The RoShamBusiness is a creative agency that designs literalizations of things<sup>1</sup><span class="footnote-text">metaphors, idioms, inside jokes, figures of speech, nebulous concepts, memes</span> which probably shouldn't exist.</p>
            </div>
          
          </div>
          
          <div class="row product-section">

            <div class="col-sm-8">
              <div class="product-title">
              	<img src="/img/logos/bizzers.png" class="img-responsive" alt="Bizzers" />
              </div>
              <p class="product-pitch">A pair of scissors, made entirely of rock and paper.</p>
              <p class="product-description">Finally, an answer to the eternal question<sup>2</sup><span class="footnote-text">"Would you rather be rock, paper, or scissors?"</span>. Painstakingly crafted out of perfectly equal parts rock, paper, and scissors, RoShamBizzers may help you somehow.</p>
              <button type="button" class="btn btn-default btn-lg btn-block">Glance at</button>
            </div>
          
            <div class="col-sm-8">
              <img src="/img/products/xx.png" class="img-responsive" alt="Placeholder Image"/>
            </div>
          
          </div>
          
          <div class="row product-section">

            <div class="col-sm-8">
              <div class="product-title">
              	<img src="/img/logos/bamwich.png" class="img-responsive" alt="Bamwich" />
              </div>
              <p class="product-pitch">A sandwich, with <em>everything</em>.</p>
              <p class="product-description">Take two pieces of bread to perfect geographic antipodes<sup>3</sup><span class="footnote-text"><a href="http://i.imgur.com/KWpyhcO.jpg">Points on the Earth's surface mathematically opposite one another</a></span>, put them down on the ground at the same time, and you've got a RoShamBamwich<sup>4</sup><span class="footnote-text">That's the DIY method. It's probably easier to buy one from us.</span></p>
              <button type="button" class="btn btn-default btn-lg btn-block">Peruse</button>
            </div>
          
            <div class="col-sm-8">
              <img src="/img/products/xx.png" class="img-responsive" alt="Placeholder Image"/>
            </div>
          
          </div>          

          <div class="row product-section">

            <div class="col-sm-8">
              <div class="product-title">
              	<img src="/img/logos/grain.png" class="img-responsive" alt="Grain" />
              </div>
              <p class="product-pitch">Take it.</p>
              <p class="product-description">Feeling overly beholden to The Truth? Exaggerate to your heart's content with a pack of RoShamGrain<sup>5</sup><span class="footnote-text">(ofSalt)</span>! Perfect for politicians, pundits, commenters of YouTube.</p>
              <button type="button" class="btn btn-default btn-lg btn-block">Take stock of</button>
            </div>
          
            <div class="col-sm-8">
              <img src="/img/products/xx.png" class="img-responsive" alt="Placeholder Image"/>
            </div>
          
          </div> 
          
          <div class="row twitter-section">
          	<div class="index-title">
          		<h2>Please Maintain Correspondence!</h2>
          	</div>
			<section class="long-bird">
	
				<div class="hole">
	  				<div class="door left"></div>
	  				<div class="door right"></div>
	  				<a href="https://twitter.com/roshambiz" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="false">Follow @roshambiz</a>
				</div>
	
			</section>
          </div>
          
          <div class="row-fluid faq">
			<div class="col-sm-12">
				<h3>F<sup>6</sup><span class="footnote-text">"How often does a question need to be asked in order to be considered 'frequently asked'?" could have been our first question listed here. If it had been, the answer would be twice.</span>AQ</h3>
				<div class="accordion" id="accordion2">

					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">I don't get it.</a>
						</div>
						<div id="collapseOne" class="accordion-body collapse">
							<div class="accordion-inner">That's okay. We're not entirely sure there is an "it" that anyone should be getting.</div>
						</div>
					</div>
					
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Is this serious?</a>
						</div>
						<div id="collapseTwo" class="accordion-body collapse">
							<div class="accordion-inner">This is 65% serious and 35% ironic.</div>
						</div>
					</div>
					
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Is "literalization" really a word?</a>
						</div>
						<div id="collapseThree" class="accordion-body collapse">
							<div class="accordion-inner">Yes, <a href="http://www.merriam-webster.com/dictionary/literalize">it is</a>.</div>
						</div>
					</div>
					
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">What if we all see different colors? What if your red was actually my blue?</a>
						</div>
						<div id="collapseFour" class="accordion-body collapse">
							<div class="accordion-inner">This is not actually a dumb question. Even though we've all thought it, it's a question that really gets down to the reality/perception crux of a whole lot of interesting things.<br><br>Recent experiments have shown that different light wavelengths don't necessarily have predetermined mental perceptions associated with them. Through new techniques in gene therapy, scientists can give previously color-blind primates the ability to see new colors. There is evidence to suggest that their perception of those colors might differ slightly, giving credence to the theory that color is "a private sensation."<br><br>Check out <a href="http://www.neitzvision.com/content/publications/2009-Mancuso-Gene_therapy_for_red-green_colour_blindness-Nature.pdf">this 2009 paper in Nature</a> if you're interested.</div>
						</div>
					</div>
					
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">Where can I buy these RoSham-Products?</a>
						</div>
						<div id="collapseFive" class="accordion-body collapse">
							<div class="accordion-inner">Check out our Kickstarter! (If there is a link in that previous sentence, we have started running the Kickstarter. If there is no link, we have not started running our Kickstarter and you can't buy any RoSham-Products yet. Sorry.</div>
						</div>
					</div>
					
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">Can I suggest new RoSham-Products?</a>
						</div>
						<div id="collapseSix" class="accordion-body collapse">
							<div class="accordion-inner">Yes, please! Either tweet them at us, or just think about them in the shower.</div>
						</div>
					</div>

          		</div>
    		</div>
 		  </div>
 		
 		</div><!-- col-sm-14 -->



        <div class="col-sm-2 footnote-bar">
        </div>

      </div>

    </div>

    <div class="blog-footer">

    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    
    <!--Start Google Analytics analytics.js code -->
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	 ga('create', 'UA-42980641-1', 'rosham.biz');
	 ga('send', 'pageview');
	 
    </script>
       <!-- End Google Analytics analytics.js code -->
    
  </body>
</html>