<!DOCTYPE html>
<html>
    <head>
        <title>The RoShamBusiness - Share</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
        <link href="/css/share.css" rel="stylesheet" type="text/css"/>
        <link href="/css/mobile.css" rel="stylesheet" type="text/css" media="only screen and (max-width: 600px)"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="//use.typekit.net/atd4rzl.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    </head>
    <body>
        <h1>Support The RoShamBusiness with 2 Clicks</h1>
        <div id="container">
            <p id="welcome">
                <b>Hey friend!</b><br /><br />I hope you're having a wonderful day. I could use your help. If you wouldn't mind, please take a few seconds to tell the world about The RoShamBusiness.
                <br /><br />
                <b>Thanks so much!</b>
                <br /><br />
                Elliott
                <br /><br />
            </p>
            <div id="progress">
                <div class="percent">
                    <div class="number">0%</div>
                </div>
            </div>
            <br /><br />
            <ul id="actions">
                <li>
                    <h2>1. Share on Facebook</h2>
                    <p>Share The RoShamBusiness with your friends</p>
                    <button class="facebook">Share</button>
                </li>
                <li>
                    <h2>2. Watch da Video</h2>
                    <p>Thank you in advance for backing The RoShamBusiness</p>
                    <button class="play">Play</button>
                </li>
            </ul>
            <br />
            <br />
            <br />
        </div>
        <script src="/js/share.js" type="text/javascript"></script>
    </body>
</html>
