<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery.queue demo</title>
  <style>
	div{width:100px;height:100px;position:relative}
	#one{background:red}
	#two{background:pink}
	#three{background:blue}
	#four{background:orange}
  </style>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
 <div id="one"></div>
 <div id="two"></div>
 <div id="three"></div>
 <div id="four"></div>
 
<script>
$.when(
    $("#one").animate({left: 100}, 3000).promise(),
    $("#two").animate({left: 200}, 3000).promise()
).done(function() {
    $("#three").animate({left: 300}, 3000).promise()
    .done(function() {
        $("#four").animate({left: 400}, 3000).promise()
    })
})

</script>
 
</body>
</html>